a:link{text-decoration: none}
a:active{text-decoration: none}
a:visited{text-decoration: none}
a:hover{text-decoration: none}

#bestnid-title{
	font-size: 4em;
	margin-left: 3em;
}

#bestnid-logo{
	height: 100%;
	padding-bottom: 2px;
}

#bestnid-logo-text{
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 120%;
}

#bestnid-slogan{
	color: black;
	font-size: 0.7em;
	text-shadow:2px 2px 2px rgba(150, 150, 150, 1);
}

.navbar-custom {
	border-bottom: none;
	height: inherit;
}

.navbar-custom .navbar-header{
	margin-right: 10px;
}

.navbar-custom .navbar-nav li a{
    line-height: 40px;
}

.navbar-custom .navbar-text {
    line-height: 40px;
    color: black;
}

.navbar-custom .navbar-form {
    line-height: 52px;
}

@media (max-width: 1270px) {
   .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
	
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}

    .navbar-toggle {
        display: block;
        margin-top: 20px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

	.navbar-nav .navbar-text {
        padding-top: 10px;
        padding-bottom: 10px;
    	margin-left: 15px;
		margin-right: 15px;
      	margin-top: 0px;
      	margin-bottom: 0px;
    	float: none;
    }

    .navbar .navbar-form{
    	border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    }

    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

}

.centrar{
	display:block;
	margin-left: auto;
  	margin-right: auto;
}

body{
	background-color: #DCDCDC;
	padding-top: 5.5em;
	min-height: 100%;
	position: relative;
}

.campo-obligatorio{
	vertical-align: super;
	color: red;
	font-weight: bold;
}

#cuerpo{
	padding-top: 0em;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

.error{
	font-weight: bold;
	color: red;
}

.espaciar{
	padding-top: 2em;
	padding-bottom: 1em;
}

.estructura{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

body > footer{
	background-color: rgba(1, 1, 1, 0.2);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	vertical-align: center;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-bottom: 0.5em;
	position: absolute;
	right: 0;
  	bottom: 0;
  	left: 0;

}

header{
	background-color: white;
}

html{
	height: 100%;
}

.imagenes{
	max-height: 170px;
	overflow: hidden;
}

.imagenes-completas{
	max-height: 400px;
}

.italica{
	font-style: italic;
}

#menu{
	background-color: lavender;
}

.negrita{
	font-weight: bold;
}

.text-ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.panel-producto{
	height: 200px;
	overflow: hidden;
}

.panel-personal {
  border-style: none;
  box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.panel-personal > .panel-heading {
  color: black;
  background-color: #C7CACB;
}

.panel-personal > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}

.subtitulos{
	font-family: Verdana, sans-serif;
	font-size: 2em;
	padding-bottom: 1em;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

#titulo{
	padding-top: 3em;
	padding-left: 5em;
}

.sidebar-wrapper{
	width: 230px;
	margin-left: -230px;
	position: absolute;
	/*
	position: fixed;
	height: 100%;
	*/
}

.sidebar{
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgb(199, 202, 203);
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	-webkit-box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.sidebar > ul{
	list-style-type: none;
	background-color: #EBECE8;
	margin-bottom: 0px;
	padding-left: 0px;
}

.sidebar-header{
	padding: 8px 6px;
	font-size: 110%;
}

.sidebar-nav > li > a{
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 10px 0;
	padding-left: 20px;
	padding-right: 5px;
}

.sidebar-nav > li.active,
.sidebar-nav > li.active > a:hover,
.sidebar-nav > li.active > a:focus{
	background-color: #DEE2DE;
	color: black;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li > a:focus{
	background-color: #E4E4E4;
}

.wrapper{
	padding-left: 230px;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

@media (max-width: 768px){
	.wrapper{
		padding-left: 0px;
	}
}

/* Responsiveness actualizada debido a la inclusión de la barra lateral */
/* Cuando el ancho del viewport es mayor igual a 768px y menor a 992px */
@media (min-width: 768px) {
  .contenido {
    width: 520px;
  }
}

/* Cuando el ancho del viewport es mayor igual a 992px y menor a 1200px */
@media (min-width: 992px) {
  .contenido {
    width: 740px;
  }

/* Cuando el ancho del viewport es mayor igual a 1200px y menor a 1400px */
@media (min-width: 1200px) {
  .contenido {
    width: 940px;
  }

/* Cuando el ancho del viewport es mayor igual a 1400px */
  @media (min-width: 1400px) {
  .container {
    width: 1140px;
  }
}
