a:link{text-decoration: none}
a:active{text-decoration: none}
a:visited{text-decoration: none}
a:hover{text-decoration: none}

html{
	height: 100%;
}

header{
	background-color: white;
}

body{
	background-color: #DCDCDC;
	padding-top: 5.5em;
	min-height: 100%;
	position: relative;
}

body > footer{
	background-color: rgba(1, 1, 1, 0.2);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	vertical-align: center;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-bottom: 0.5em;
	position: absolute;
	right: 0;
  	bottom: 0;
  	left: 0;
}

.centrar{
	display:block;
	margin-left: auto;
  	margin-right: auto;
}

#titulo{
	padding-top: 3em;
	padding-left: 5em;
}

#cuerpo{
	padding-top: 0em;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

.espaciar{
	padding-top: 2em;
	padding-bottom: 1em;
}

.estructura{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.number-area{
	width:10em;
}


/* ============== CONTENEDOR ALERTAS ==============
   ================================================ */

.container-flash{
	position: relative;
	margin-top: 2em;
	padding: 15px;
}

.container-flash .close{
	position: absolute;
	right: 5px;
	top: 5px;
}

.container-flash a{
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted;
}

/* ================================================
   ============ FIN CONTENEDOR ALERTAS ============ */


/* =================== PANELES ====================
   ================================================ */

.panel-producto{
	height: 200px;
	overflow: hidden;
}

.panel-personal {
  border-style: none;
  box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.panel-personal > .panel-heading {
  color: black;
  background-color: #C7CACB;
}

.panel-personal > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}

.panel-personal ul > li blockquote{
	font-size: 15px;
	margin-bottom: 5px;
}

.panel-personal .list-special .list-group-item:first-child{
	border-top-width: 0px;
}

.panel-personal .list-special .list-group-item{
	border-top-width: 3px;
}

.panel-personal .table{
	margin-bottom: 0px;
}

.panel-personal .table > tbody > tr:first-child > td,
.panel-personal .table > tr:first-child > td{
	border-top-width: 0px;
}

/* ================================================
   ================== FIN PANELES ================= */


/* =================== IMÁGENES ===================
   ================================================ */

.imagenes{
	max-height: 170px;
	overflow: hidden;
}

.imagenes-completas{
	max-height: 400px;
}

/* ================================================
   ================ FIN IMÁGENES ================== */


/* =================== TEXTOS =====================
   ================================================ */

.negrita{
	font-weight: bold;
}

.italica{
	font-style: italic;
}

.error{
	font-weight: bold;
	color: red;
}

.destacado{
	font-weight: bold;
	color: blue;
}

.text-ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.subtitulos{
	font-family: Verdana, sans-serif;
	font-size: 2em;
	padding-bottom: 1em;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.campo-obligatorio{
	vertical-align: super;
	color: red;
	font-weight: bold;
	display: inline;
}

/* ================================================
   ================ FIN TEXTOS ==================== */


/* ===== ESTILOS RELACIONADOS CON EL HEADER =======
   ================================================ */

#bestnid-title{
	font-size: 4em;
	margin-left: 3em;
}

#bestnid-logo{
	height: 100%;
	padding-bottom: 2px;
}

#bestnid-logo-text{
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
	font-size: 120%;
}

#bestnid-slogan{
	color: black;
	font-size: 0.7em;
	text-shadow:2px 2px 2px rgba(150, 150, 150, 1);
}

.navbar-custom {
	border-bottom: none;
	height: inherit;
}

.navbar-custom .navbar-header{
	margin-right: 10px;
}

.navbar-custom .navbar-nav li a{
    line-height: 40px;
}

.navbar-custom .navbar-text {
    line-height: 40px;
    color: black;
    max-width: 150px;
}

.navbar-custom .navbar-form {
    line-height: 52px;
}

@media (max-width: 1250px) {
   .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
	
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}

    .navbar-toggle {
        display: block;
        margin-top: 20px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

	.navbar-nav .navbar-text {
        padding-top: 10px;
        padding-bottom: 10px;
    	margin-left: 15px;
		margin-right: 15px;
      	margin-top: 0px;
      	margin-bottom: 0px;
    	float: none;
    }

    .navbar .navbar-form{
    	border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    }

    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

}

/* ================================================
   ==== FIN ESTILOS RELACIONADOS CON EL HEADER ==== */
