<p><b>Hola, <%= @resource.first_name %>!</b></p>

<p>Alguien ha pedido el reseteo de la contraseña de su cuenta en Bestnid. Puede hacerlo a través del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha pedido el reseteo de la contraseña, por favor ignore este mensaje.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace de arriba y cree una nueva.</p>

<br>

<p><b>Nota:</b> Este email no debe responderse. En caso de querer informar problemas, sugerencias y demás, recurrir a nuestro sitio web.</p>

<br>

<p><b>Bestnid</b>, "Decidí con el corazón"</p>

<br>

<p><%= link_to 'Ir a Bestnid', root_url %></p>