<center>
	<footer style="padding-top: 2.5em; padding-bottom: 1em">
		<span class="negrita" style="font-family: 'Courier New', Courier, monospace">
			<span class="italica">Desarrollado por </span><a href="http://github.com/cloud-9-team/" style="color: red">Cloud 9</a>
		</span>
	</footer>
</center>