<h1 class = "subtitulos">Agregar imágenes a tus publicaciones</h1>
<div class = "panel panel-personal">
	<div class = "panel-heading">
		<h3 class = "panel-title">Pasos</h3>
	</div>
	<div class = "panel-body">
		<table class="table">
    		<tr>
    			<td><span><span class="negrita">1. </span>Entrar al sitio web <a href="http://subefotos.com/" class="destacado">SubeFotos.com</a>.</span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">2. </span>Tener almacenada en su computadora la foto del producto que desee subir.</span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">3. </span>Seleccionar la opción <span class="negrita">Examinar</span>, en la parte derecha de la leyenda <span class="negrita">Subir foto</span>.</span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">4. </span>Buscar y seleccionar la imagen de su computadora.</span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">5. </span>Clickear en el botón <span class="destacado">¡SUBIR FOTO!</span></span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">6. </span>Una vez que finalice la carga, el navegador mostrará un sitio con la foto subida en tamaño original, y usted deberá hacer click derecho encima de la imagen y seleccionar la opción <span class="negrita">Copiar dirección de la imagen</span> o <span class="negrita">Copiar URL de imagen</span>.</span></td>
    		</tr>
    			<td><span><span class="negrita">7. </span>Cree su subaste desde nuestro sitio, y en el cuadro de texto <span class="negrita">URL de imagen</span> deberá hacer click derecho y seleccionar la ópción <span class="negrita">Pegar</span>.</span></td>
    		</tr>
    		<tr>
    			<td><span><span class="negrita">8. </span>¡Listo! Su imagen se subirá junto con toda la información del producto cuando presione el botón <span class="btn btn-primary">Publicar</span></span></td>
    		</tr>
  		</table>
	</div>
</div>